.table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-table {
  width: 50%;
  border-collapse: collapse;
  }

.data-table, th, td {
  border: 1px solid;
  text-align: left;
  border-left: none;
  border-right: none;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.data-table tr:nth-child(even) {
  background-color: #f3f3f3;
}

.data-table tr:hover {
  background-color: #e4e4e4;
}

.data-table th {
  background-color: #21263a;
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
a:active {
  text-decoration: underline;
}

.load-indicator {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}